.footer {
  background-color: #500313;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease;
}

.footer:hover {
  background-color: #400006;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #e1e1e1;
}
